<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title  %> </title>
  <link rel="stylesheet" href="tailwind-output.css">
  <script src="frontend-scripts/nav-bar.js" defer></script>
  <!-- svg icons source:  http://svgicons.sparkk.fr/ -->
</head>
<body>
  <%- include("./partials/nav-default.ejs") %> 
  <div class="bg-[#141414]">
    <div class="con-main">
      <div class="flex flex-wrap justify-center items-center h-20 mb-3">
        <a class="text-gray-500 hover:underline hover:text-green-600 whitespace-nowrap" href="https://github.com/autocorrect613/Project_1">Spied šeit,&nbsp;</a>
        <p class="text-white"> lai redzētu source code šai lapai!</p>
      </div>
      <div class="flex w-full relative p-2">
        <div class="flex flex-col w-1/2 bg-green-900 h-72" >
          <p class="text-white p-2">TODO list:</p>
          <p class="todo-item TODO">- Pabeigt un pievienot React apgreidu</p>
          <p class="todo-item TODO">&#9;- izveidot jaunu projektu un pārmainīt mapju, failu struktūru priekš react</p>
          <p class="todo-item TODO">&#9;- pārveidot navigācijas EJS failu par komponentiem JSX failos </p>
          <p class="todo-item TODO">&#9;- izveidot React stila routingu navigācijas joslai (express pagaidām būs tikai viens routs) </p>
          <p class="todo-item TODO">&#9;- react un express abi reizē būs palaisti zem viena porta - izdomāt, kā menedžēt "./build" direktoriju (reģistrēt tailwind pirms vai pēc build vai kā citādi) </p>
          <p class="todo-item TODO">&#9;- Pārliecināties, vai un cik jaudīgi ir React routi salīdzinājumā ar express+ejs routiem</p>
          <p class="todo-item TODO">- Izveidot log failu datu bāzē, kur redzami apdeiti latviski</p>
        </div>
        <div class="flex flex-col w-1/2 bg-sky-700 h-72" >
          <p class="text-white p-2">DONE list:</p>
          <p class="todo-item DONE">- Ieliku linku source kodam</p>
          <p class="todo-item DONE">- Izveidoju todo-list</p>
        </div>
      </div>
      <div class="flex text-gray-500 p-2 leading-5">
        Pēdējās izmaiņas veiktas pirms 
        <%   
          // EJS nākamajā apdeitā pazudīts un tā vietā būs JSX
          let num = Math.round((Date.now() - 1649630098211) / 1000); 
          let str = " sekundēm";
          if (num > 59 && num < 3600) {
            if(num < 120) { num = 1; str = " minūtes" }
            else { num = Math.round(num / 60); str = " minūtēm" }
          }
          else if (num >= 3600) {
            if(num < 7200) str = " stundas";
            num = Math.round(num / 3600);
            str = " stundām";
          }
        %>
        <%= num  %><%= str %>
      </div>
  </div>
</body>
</html> 